:root{
    --bg-color: rgb(232, 249, 255);
    --bg-form-color: rgb(196, 217, 255);
    --header-text-color: #333;
    --text-color: #707070;
    --border-color: #ddd;
    --button-bg-color: rgb(165, 191, 204);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Roboto", serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    padding: 20px;
}

.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: var(--bg-form-color);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header{
    font-size: 1.5rem;
    color: var(--header-text-color);
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: var(--text-color);
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    color: var(--text-color);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0 15px;
    margin-top: 8px;
}


.form button{
    height: 55px;
    width: 100%;
    background: var(--button-bg-color);
    color: var(--header-text-color);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.form button:hover{
    background: rgb(232, 249, 255);
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.form .gender-box{
    margin-top: 20px;
}

.gender-box h3{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.form .gender-option{
    display: flex;
    gap: 15px;
}

.form .gender{
    cursor: pointer;
}

.gender label{
    color: var(--text-color);
}

.form :where(.gender input, .gender label){
    cursor: pointer;
}



/* *********Login Form******** */
.login-container{
    max-width: 400px;
}

.forgot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}

.forgot{
    margin-top: 8px;
}

.btn-register{
    margin: 10px;
    color: var(--text-color);
}


/* Media Query For Responsive */
@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
}









